/* CUSTOM PROPERTIES */
:root {
  --main-color: #234e70;
  --main-alpha-color: rgba(35, 79, 112, 0.5);
  --second-color: #f0edcc;
  --second-alpha-color: rgba(240, 237, 204, 0.5);

  --white-color: #fff;
  --gray-color: #777;
  --black-color: #000;
  --transparent-color: transparent;

  --main-background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);

  --link-color: #444;
  --text-color: #02343f;
  --icon-color: #dda94b;
  --element__color: #d3d3d3;

  /* --font: "Philosopher", sans-serif; */
  /* --max-width: 1400px; */
  /* --header-height: 4rem; */
}

/* General Styles */
body {
  font-family: "Poppins", Helvetica, sans-serif;
  color: var(--text-color);
  /* overflow: hidden; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--main-color);
}

/* MAIN STYLES */
/* ------------------------------------------------------- */

body {
  background-image: url(../img/fondo2.png);
  background-color: var(--second-alpha-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: auto;
}

.layout {
  /* position: relative; */
  max-width: 80%;
  height: 85vh;
  margin: 7.5vh auto;
  display: grid;
  grid-template-areas: "aside content";
  grid-template-columns: 30% 70%;

  /* Shadow */
  border-radius: 3rem;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.25);

  /* border: 1px solid rgba(0, 0, 0, 0.25); */
}

/* ASIDE STYLES*/
/* -------------------------------------------------------- */

.layout__aside {
  grid-area: aside;
  border-radius: 3rem 0 0 3rem;
  overflow: auto;
  overflow-x: hidden;
}

.aside__user-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  min-height: 100%;
  width: 100%;
  background-color: var(--main-color);
  color: var(--second-color);
  gap: 3rem;
}

.user-info__container-img {
  position: relative;
  display: inline-block;
  width: 10rem;
  margin-top: 2.5rem;
  z-index: 1;
}

.user-info__img {
  background-color: var(--white-color);
  border: 3.5px solid var(--second-color);
  border-radius: 50%;
}
/* Shadow */
.user-info__container-img::after {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 0.8rem;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: -webkit-repeating-radial-gradient(
    center center,
    #fff,
    #fff 1px,
    transparent 0,
    transparent 100%
  );
  background-size: 0.4rem 0.4rem;
  border-radius: 50%;
  opacity: 0.4;
}

.user-info__name {
  color: var(--second-color);
  margin-top: 2rem;
}

.user-info__job {
  color: var(--gray-color);
  font-weight: 100;
  opacity: 0.8;
}

/* NAVEGATION MENU */
/* -------------------------------------------------------------- */
.aside__menu {
  /* display: block; */
  position: fixed;
  top: 8vh;
  right: 3.5%;
  background-color: var(--transparent-color);
}

.menu__list {
  position: relative;
  width: 4.5rem;
  height: 100%;
  padding: 2rem 0;
  border-radius: 5rem;
  box-shadow: 20px 0px 50px -5px rgba(0, 0, 0, 0.2);
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.menu__option {
  width: 100%;
  text-align: center;
}

.menu__option:hover .menu__icon,
.menu__link--active .menu__icon {
  color: var(--icon-color);
}
.menu__option:hover .menu__overlay {
  opacity: 1;
  right: 105%;
}
.menu__icon {
  color: var(--second-color);
  font-size: 1.8rem;
}

.menu__overlay {
  /* display: none; */
  position: absolute;
  right: 0;
  display: block;
  background-color: var(--main-color);
  border-radius: 1.5rem;
  white-space: nowrap;
  padding: 0.3rem 1rem;
  margin-top: -2rem;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

/* ---------------------------------------------------------------- */

.social__list {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}

.social__option {
  width: 2.7rem;
  height: 2.7rem;
  font-size: 1.5rem;
  line-height: 2.9rem;
  opacity: 0.8;
  border-radius: 50%;
  transition: background 300ms ease-in-out, transform 300ms;
}
.social__option:hover {
  transform: scale(1.1);
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.25);
}

.user-info__btns {
  width: 50%;
  font-size: 1.2rem;
  border: 2px solid var(--second-color);
  border-radius: 2rem;
  padding: 0.8rem 0;
  transition: background 300ms ease-in-out;
  cursor: pointer;
}
.user-info__btns:hover {
  background: var(--second-color);
  color: var(--main-color);
  border: 2px solid var(--main-color);
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.1);
}

.user-info__btn {
  display: inline-block;
  width: 100%;
}

.user-info__footer {
  font-size: 0.8rem;
  margin-top: 1rem;
}

/* CONTENT - GENERAL */
/* ---------------------------------------------------- */

.layout__content {
  grid-area: content;
  height: 85vh;
  background-color: var(--main-color);
  border-radius: 0 10rem 10rem 0;
}

.content__page {
  height: 100%;
  background-color: var(--second-color);
  border-radius: 3rem;
  overflow-y: auto;
}

.page__main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-left: 2rem;
}

.page__svg {
  display: block;
  width: 50%;
  /* flex-basis: 50%; */
}
.about__svg {
  display: flex;
  width: 100%;
  justify-content: right;
  margin-bottom: 1rem;
}
.about__svg svg {
  width: 60%;
}

#ball-1 {
  animation: flotate 4.5s ease-in-out infinite;
}
#ball-p_1 {
  animation: flotate 5.5s ease-in-out infinite;
}

#ball-2 {
  animation: flotate 4s ease-in-out infinite;
}
#ball-p_2 {
  animation: flotate 6s ease-in-out infinite;
}

#ball-3 {
  animation: flotate 6s linear infinite;
}
#ball-p_3 {
  animation: flotate 3s ease-in-out infinite;
}

#planet {
  animation: flotatePlanet 20s linear infinite;
}

.page__description {
  width: 50%;
}

.description__title {
  font-size: 2rem;
}
.description__text {
  font-size: 1.2rem;
  line-height: 1.7;
}

.content__about {
  margin-top: 8rem;
  padding: 3rem 7rem;
}
.description__about-text {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

@keyframes flotate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(4.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes flotatePlanet {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(6.5rem);
  }

  100% {
    transform: translateY(0);
  }
}

/* GENERAL

  - CURRICULUM
  - CONTACT

---------------------------------------------------------------
*/

.content__curriculum,
.content__contact {
  display: block;
  height: inherit;
  overflow: auto;
  padding: 2rem 1rem 5rem 3rem;
}

.about__header,
.curriculum__header,
.contact__header,
.portfolio__header {
  margin-bottom: 1rem;
}

.about__title,
.services__title,
.curriculum__title,
.contact__title,
.portfolio__title {
  position: relative;
  font-size: 2.5rem;
}
.about__title::after,
.services__title::after {
  position: absolute;
  top: 1.5rem;
  left: 9rem;
  display: inline-block;
  content: " ";
  width: 3.2rem;
  height: 2rem;
  background-image: -webkit-repeating-radial-gradient(
    center center,
    var(--main-color),
    var(--main-color) 1px,
    transparent 0px,
    transparent 100%
  );
  background-size: 0.4rem 0.4rem;
  opacity: 0.15;
}

.title__color {
  color: var(--icon-color);
}
/* -------------------------------------------------------END---------------------------------------------------------- */
/* ABOUT ME - Personal Info */
.personal-info__bio {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  width: 100%;
  margin-bottom: 1rem;
}

.personal-info__description {
  flex-basis: 65%;
  font-size: 1.1rem;
  text-align: justify;
}

.personal-info__data {
  flex-basis: 35%;
  font-size: 1.1rem;
  line-height: 1.7;
}

.personal-info__value {
  color: var(--main-color);
  font-weight: 600;
  margin-right: 0.5rem;
}

/* ABOUT ME - Services */
.services__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  width: 100%;
}

.services__service {
  flex-basis: calc(50% - 3rem);
  margin-top: 1rem;
}

.services__header {
  margin-bottom: 0.5rem;
}

.services__title {
  position: relative;
  font-size: 1.8rem;
}

.service__title {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.services__title::after {
  position: absolute;
  top: 1rem;
  left: 6.5rem;
  display: inline-block;
  content: "";
  width: 2.5rem;
  height: 1.7rem;
  background-image: -webkit-repeating-radial-gradient(
    center center,
    var(--main-color),
    var(--main-color) 1px,
    transparent 0px,
    transparent 100%
  );
  background-size: 0.4rem 0.4rem;
}

.service__icon {
  margin-bottom: 0.5rem;
}
.myicon {
  color: var(--main-color);
  font-size: 2.5rem;
}

.service__description {
  text-align: justify;
}

/* CURRICULUM */

/* CURRICULUM - Shadow */

.curriculum__title::after {
  position: absolute;
  top: 1.5rem;
  left: 9rem;
  display: inline-block;
  content: "";
  width: 5.5rem;
  height: 2rem;
  background-image: -webkit-repeating-radial-gradient(
    center center,
    var(--main-color),
    var(--main-color) 1px,
    transparent 0px,
    transparent 100%
  );
  background-size: 0.4rem 0.4rem;
  opacity: 0.15;
}

.curriculum__container {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 2.1rem;
}

/* CURRICULUM - Left Side (Formation, Experience, ... */

.curriculum__left {
  flex-basis: 58%;
}

.left__training,
.left__experience {
  margin-bottom: 3rem;
}

.training__timeline,
.experience__timeline {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 1.5rem 0;
}

.timeline__header {
  text-align: right;
}

.timeline__year {
  font-weight: bolder;
  margin-bottom: 0.5rem;
}

.timeline__location {
  display: block;
  font-weight: lighter;
  font-size: 0.8rem;
  line-height: 1.5;
  color: var(--subtitle-color);
}

.timeline__title {
  font-size: 0.8rem;
  font-weight: bolder;
  margin-bottom: 0.2rem;
}

.timeline__description {
  font-size: 0.8rem;
  line-height: 1.8;
  color: var(--gray-color);
}

/* Divider */

.timeline__separator {
  position: absolute;
  top: 0;
  left: 5.2rem;
  bottom: -2rem;
  width: 1px;
  background-color: var(--main-alpha-color);
}
.timeline__separator::before {
  content: " ";
  position: absolute;
  top: 0.15rem;
  left: -0.35rem;
  width: 0.8rem;
  height: 0.8rem;
  background-color: var(--main-color);
  border-radius: 50%;
  opacity: 0.25;
}
.timeline__separator::after {
  content: " ";
  position: absolute;
  top: 0.35rem;
  left: -0.16rem;
  width: 0.4rem;
  height: 0.4rem;
  background-color: var(--main-color);
  border-radius: 50%;
  border: 1px solid var(--background-color);
  opacity: 1;
}
/* CURRICULUM - Right Side (Formation, Experience, ... */

.curriculum__right {
  flex-basis: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dev-skills__header,
.code-skills__header {
  margin-bottom: 0.8rem;
}

.dev-skills__skill,
.code-skills__skill {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 0.4rem;
}

.skill__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.skill__title {
  font-size: 0.7rem;
  line-height: 1.5;
}

.skill__indicator {
  font-size: 0.6rem;
  line-height: 1.5;
  color: var(--main-alpha-color);
}

.skill__prgressbar-container {
  width: 100%;
  height: 0.6rem;
  border: 1px solid var(--main-color);
  border-radius: 1rem;
}

.skill__progressbar {
  opacity: 1;
  height: 0.5rem;
  background-color: var(--main-color);
  border: 2px solid var(--second-color);
  border-radius: 1rem;
  transform: scaleX(0);
}

.skill__progressbar--p1 {
  width: 90%;
  /* transform: scaleX(1); */
  transition: transform 1s ease-in-out;
}
.skill__progressbar--p2 {
  width: 80%;
  /* transform: scaleX(1); */
  transition: transform 1.5s ease-in-out;
}
.skill__progressbar--p3 {
  width: 85%;
  /* transform: scaleX(1); */
  transition: transform 2s ease-in-out;
}
.skill__progressbar--p4 {
  width: 100%;
  /* transform: scaleX(1); */
  transition: transform 2.5s ease-in-out;
}
.skill__progressbar--p5 {
  width: 75%;
  /* transform: scaleX(1); */
  transition: transform 1s ease-in-out;
}
.skill__progressbar--p6 {
  width: 90%;
  /* transform: scaleX(1); */
  transition: transform 1.5s ease-in-out;
}
.skill__progressbar--p7 {
  width: 95%;
  /* transform: scaleX(1); */
  transition: transform 2.5s ease-in-out;
}

/* SOFT SKILLS */
.soft-skills__list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.soft-skills__header {
  margin-bottom: 1.5rem;
}
.soft-skills__skill {
  background-color: var(--main-color);
  color: var(--second-color);
  padding: 0.35rem;
  margin-bottom: 0.3rem;
  border-radius: 0.2rem;
  /* font-size: 0.9rem; */
}

/* CERTIFICATES */

.certificates__header {
  margin: 1.5rem 0;
}

.certificates__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
}

.certificates__certificate {
  flex-basis: calc(50% - 1.5rem);
  border: 2px solid var(--main-color);
  padding: 1rem;
}
/* PORTFOLIO */

/* CONTACT */

.contact__title::after {
  position: absolute;
  top: 1.5rem;
  left: 12rem;
  display: inline-block;
  content: "";
  width: 3.5rem;
  height: 2rem;
  background-image: -webkit-repeating-radial-gradient(
    center center,
    var(--main-color),
    var(--main-color) 1px,
    transparent 0px,
    transparent 100%
  );
  background-size: 0.4rem 0.4rem;
  opacity: 0.15;
}

.contact__container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.contact__info {
  flex-basis: 30%;
}

.contact__form-container {
  flex-basis: 70%;
}

.contact__info {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact__data {
  width: 100%;
  padding: 0.7rem 0.2rem;
  text-align: center;
  background-color: var(--second-color);
  border: 1px solid var(--main-color);
}

.data__icon {
  font-size: 2rem;
  color: var(--main-color);
  margin-bottom: 0.8rem;
}

.data__title {
  font-size: 1rem;
}

.contact__form-header {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1.3rem;
}

.contact__form {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.form__left {
  flex-basis: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form__group {
  position: relative;
  width: 100%;
  height: 100%;
}

.form__input {
  position: relative;
  width: 100%;
  display: block;
  border: 2px solid var(--gray-color);
  border-radius: 0.3rem;
  padding: 0.6rem 0.6rem;
  outline: none;
  box-shadow: 0.5rem 0.5rem 1rem -0.8rem rgba(0, 0, 0, 0.15);
  background-color: transparent;
}
.form__input:focus {
  border: 2px solid var(--icon-color);
}

.form__label {
  position: absolute;
  top: 0.5rem;
  left: 0.6rem;
  z-index: 1;
  color: var(--main-color);
  transition: all 300ms ease-in-out;
  pointer-events: none;
}
.form__input:focus ~ label,
.form__input:not(:placeholder-shown) ~ label {
  top: -1.1rem;
  left: 0;
  z-index: 1;
  font-size: 0.8rem;
  /* font-weight: bold; */
  color: var(--icon-color);
  opacity: 0.8;
}
.form__input::-webkit-input-placeholder {
  color: transparent;
}
.form__input::-moz-input-placeholder {
  color: transparent;
}

.form__right {
  flex-basis: 50%;
}

.form__input--textarea {
  resize: none;
  width: 100%;
  height: 100%;
}

.form__btn {
  width: 100%;
  padding: 0.8rem;
  margin-top: 1.2rem;
  font-size: 1.3rem;
  /* font-weight: 600; */
  background-color: var(--background-color);
  border: 2px solid var(--main-color);
  border-radius: 0.3rem;
  box-shadow: 0 0.5rem 1rem -0.8rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.form__btn:hover {
  background-color: var(--main-color);
  color: var(--white-color);
}

/* map */
.contact__map {
  width: 100%;
  min-height: 9rem;
  overflow: hidden;
}

.contact__iframe {
  width: 100%;
  height: 9rem;
}
